/***************************************

FONTS

******************************************/

$site-font: 'Roboto', sans-serif;




/***************************************

COLORS

******************************************/

$font-color: #505873;





/***************************************

STYLES

******************************************/

$box-shadow:  0 2px 4px 0 rgba(0, 0, 0, 0.1);

$wrapper-border: solid 1px #eeeeee;