.contact-section{
  background: white;
  border-left: $wrapper-border;
  border-right: $wrapper-border;
  display: flex;
  padding: 55px 100px 80px 100px;
  color: $font-color;
  letter-spacing: 0.6px;
  justify-content: space-between;

  h2{
    font-size: 22px;
    font-weight: normal;
    margin: 25px 0 15px 0;
  }

  p{
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
  }
}

.contact-section-right{
  padding-top: 25px;
}

#map{
  width: 550px;
  height: 400px;
}