.event-hero{
  height: calc(100vh - 179px);
  background-position: top center;
  justify-content: center;

  @include breakpoint(mobile) {
    justify-content: flex-start;
  }

  h1, p{
    text-align: center;

    @include breakpoint(mobile) {
      text-align: left;
      display: block;
    }
  }
}

.hero-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
}

.event-hero-content{

  a{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 14px 28px;
    margin: 0 auto;
    display: table;
    text-transform: none;

    @include breakpoint(mobile) {
     margin: 0;
    }
  }
}

.event-section{
  padding: 70px 80px;

  @include breakpoint(desktop) {
    padding: 50px 40px;
  }
  @include breakpoint(small) {
    padding: 40px 20px;
  }
}

.event-max-width{
  max-width: 627px;
  margin: 0 auto;

  h2{
    color: #505873;
    font-size: 42px;
    font-weight: 300;
    line-height: 55px;
    text-align: center;
    margin: 0;

    @include breakpoint(small) {
      text-align: left;
      font-size: 35px;
      line-height: 43px;
    }
    @include breakpoint(mobile) {
      font-size: 30px;
      line-height: 36px;
    }
  }
  h3{
    color: #333333;
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    margin: 65px 0 25px 0;
  }

  p{
    color: #505873;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    margin: 0 0 25px 0;
  }

  iframe{
    width: 100%;
    height: 380px;

    @include breakpoint(small) {
      height: 55vw;
    }
  }
}

.event-background-section{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  background-color: #00060c;

  @include breakpoint(medium) {
    background-image: none !important;
  }

  .event-max-width{
    position: relative;
    z-index: 2;

    h3, p{
      color: white;
    }
  }
}

.meeting-grid{
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.meeting-content{
  border: 1px solid #C9C9C9;
  border-radius: 5px;
  background-color: #F6F6F6;
  width: 100%;
  padding: 22px 38px 25px;

  @include breakpoint(large) {
    padding: 22px 10px 25px 20px;
  }
  @include breakpoint(laptop) {
    width: calc(100% - 30px);
  }

  h4{
    color: #333333;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    margin: 0;
  }
  p{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    margin: 5px 0 23px;
  }
  span{
    font-style: italic;
    display: block;
    margin-top: 7px;
    color: #333;
    font-size: 15px;
  }
  a{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border-radius: 5px;
    background-color: #297FB7;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
  }
}

.event-author{
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 523px;
  margin-top: 74px;

  h5{
    margin: 0;
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    line-height: 26px;
  }
  p, a{
    color: #505873;
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;

    @include breakpoint(mobile) {
      font-size: 16px;
    }
  }
  p{
    margin: 10px 0;

    @include breakpoint(mobile) {
      margin: 8px 0 5px;
    }
  }
}

.event-author-img{
  height: 123px;
  width: 123px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 36px;

  @include breakpoint(small) {
    display: none;
  }
}

.share-event{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 40px;

  @include breakpoint(small) {
    justify-content: flex-start;
  }

  div{
    color: white;
    border-radius: 4px;
    padding: 4px 10px;
    font-weight: bold;
    background: #333;
    font-size: 14px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    cursor: pointer;

    i{
      margin-right: 7px;
      font-size: 17px;
    }
  }
}

.apester-section{
  margin-top: 60px;
}

.event-background{
  background: white;
}

.apester-active{
  iframe{
    height: 100%;
    margin-top: 30px;
  }
}

.lightbox-section{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.lightbox{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 35px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  position: relative;
  opacity: 0;
  top: -100px;
  transition: 0.2s ease-in-out;

  @include breakpoint(small) {
    height: 100vh;
    padding: 35px 20px;
    max-width: 100%;
    box-sizing: border-box;
  }

  h5{
    font-size: 24px;
    margin: 30px 0 20px;
  }
  p{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
  }

  input{
    width: 100%;
    box-sizing: border-box;
    padding: 14px 20px;
    color: #297FB7;
    margin-bottom: 15px;
  }
  input[type=submit]{
    width: auto;
    float: right;
    border: none;
    background: #297FB7;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 3px;
  }
}

.fade-lightbox{
  opacity: 1;
  top: 0;
  transition: 0.2s ease-in-out;
}

.lightbox-icon{
  width: 70px;
  height: 70px;
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #297FB7;
  border-radius: 100%;
  border: 4px solid white;
  color: white;
  font-size: 29px;

  @include breakpoint(small) {
    display: none;
  }
}

.close-lightbox{
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0.3;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  @include breakpoint(small) {
    top:30px;
  }

  &:hover{
    opacity: 0.6;
  }
}