.technology-top{
  background: white;
  border-left: $wrapper-border;
  border-right: $wrapper-border;
  padding: 80px 100px;
  color: $font-color;

  @include breakpoint(xl) {
    padding: 40px 60px;
  }
  @include breakpoint(medium) {
    flex-direction: column;
  }
  @include breakpoint(small) {
    padding: 40px 20px;
  }

  h2{
    font-size: 32px;
    margin: 0;
  }

  p{
    line-height: 1.71;
    max-width: 730px;
  }
}

.tech-bottom{
  width: 100%;
  height: 570px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: black;
}